<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninjas</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h2>Blog Ninja</h2></a>
        <p>A Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        aspernatur asperiores ducimus autem tenetur rem, excepturi perspiciatis
        aperiam, totam esse iure? Perferendis qui illum debitis quibusdam, iste
        quod impedit doloribus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic
        sapiente quibusdam quia nostrum pariatur vitae modi laudantium incidunt,
        quod similique amet animi! Accusantium, neque obcaecati corrupti cumque
        non accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolore
        optio cumque laboriosam deleniti dignissimos quas debitis ex quisquam,
        velit sapiente aspernatur voluptates aliquam earum odio et beatae
        numquam cupiditate!
      </p>
    </div>
  </body>
</html>
